body {
    margin: 0;
    background-color: black;
    font-family: monospace;
}

#header {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 25px;
}

#start {
    color: black;
    background-color: white;
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    display: inline-block;
}

#starttext {
    top: 50%;

}

#wrapper {
    text-align: center;
    margin: 25px;
}

#gallows {
    height: 300px;
    width: 300px;
    display: inline-block;
}

#gcanvas {
    margin-bottom: 25px;
}

#hiddenWord {
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
}

#incorrect {
    color: red;
    margin: 25px;
    letter-spacing: 5px;
}

#gameover {
    color: black;
    background-color: red;
    position: absolute;
    width: 300px;
    height: 300px;
    display: none;
    text-align: center;
}

#gameovertext {
    top: 50%;
}

#win {
    color: black;
    background-color: green;
    position: absolute;
    width: 300px;
    height: 300px;
    display: none;
    text-align: center;
}

#wintext {
    top: 50%;
}

#mute {
    display: inline-block;
    color: grey;
}

#messages {
    display: block;
    color: grey;
}

#risk {
    margin: 25px;
    display: none;
}

.myButton {
	background:linear-gradient(to bottom, #cf0000 5%, #940000 100%);
	background-color:#cf0000;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:12px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
    margin: 10px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #940000 5%, #cf0000 100%);
	background-color:#940000;
}
.myButton:active {
	position:relative;
	top:1px;
}

#feelingRiskyWindow {
    display: none;
}

#submit {
    display: none;
}

#blackfade {
    background-color: black;
    position: absolute;
    width: 300px;
    height: 300px;
    display: inline-block;;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 2s;
}

#yourGuess {
    border-radius:12px;
}

.hidden {
    display: none;
}
